<button
    [ngClass]="{ 'button-spin': data.pending }"
    class="d-flex flex-column p-3 align-items-stretch"
    (click)="toggleLamp.next ()">
  <span class="button-header mb-3 pb-1">
    Id : {{ data.id }} <br> Wattaggio: {{data.wattaggio}} <br> Luminosita:{{data.luminosita}}
  </span>
  <ng-container *ngIf="data">
    <ng-container [ngSwitch]="data.luminosita">
    </ng-container>
    <main class="container">
      <form class="mt-5 mx-auto" [formGroup]="formData" (ngSubmit)="submitBrightness()" style="max-width: 350px">
        <div class="input-group has-validation mx-auto" style="margin-bottom: 0.7em;">
          <div class="form-floating is-invalid">
            <input type="text" class="form-control" [class.is-invalid]="!formData.controls.luminosita.valid && formData.controls.luminosita.dirty" id="floatingInputGroup2" placeholder="luminosita" required formControlName="luminosita">
            <label for="floatingInputGroup2">Luminosità:</label>
          </div>
          <div class="invalid-feedback" *ngIf="!formData.controls.luminosita.valid && formData.controls.luminosita.dirty">
            <ng-container *ngIf="formData.controls.luminosita.errors?.['required']">
              Il campo è obbligatorio
            </ng-container>
          </div>
        </div>
        <!--  submit button -->
        <div class="d-grid gap-2 mx-auto mt-3">
          <button class="btn btn-primary" type="submit" [disabled]="!formData.valid">Conferma</button>
        </div>
      </form>
    </main>
    
  </ng-container>
</button>
